@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin-ext');

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #222b21;
}

* {
    box-sizing: border-box;
}

header {
    background-image: radial-gradient(circle, #ff6666, #ff3333, #ff0000, #990000, #800000);
    height: 80px;
}

.clear {
    clear: both;
}

.nav-log{
    color: #ffffff;
    font-size: 25px;
    margin: 0;
    padding-left: 15px;
    line-height: 80px;
    float: left;
}

nav ul {
    float: right;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    width: 150px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    line-height: 80px;
    padding: 0 10px;
    display: block;
}

nav ul li a:hover{
    color: #8c8c8c;
    transition-duration: 2s;
}

nav ul ul{
    background-image: radial-gradient(circle, #ff6666, #ff3333, #ff0000, #990000, #800000);
    text-align: center;
    width: 100%;
    border: 1px solid #ffffff;
    display: none;
}
nav ul ul li{ 
    display: block; 
}

nav ul ul li a{ 
    padding: 0 15px; 
}
nav ul li:hover >ul{
    display: block;
    position: absolute;
    z-index: 1;
}

.clear {
    clear: both;
}

.hero-section{
    background-image: url(https://images.unsplash.com/photo-1545949139-bb90937876ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slogan{
    width: 80%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slogan h2{
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;

}

.slogan h2 span{
    color: #578bb6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

.about-section h2 {
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

.about-section img {
    margin: 10px auto 30px;
    display: block;
}

.about-section {
    width: 100%;
    background-color: #6497a3;
}
